.DS_STORE
.haxelib/
.vs/
APIStuff.hx
dump/
export/
RECOVER_*.fla
shitAudio/
.build_time
.swp
.pdn
NewgroundsCredentials.hx

# Exclude JS stuff
node_modules/
package.json
package-lock.json
.aider*
docs/repository-open-graph-template.pdn
