[submodule "assets"]
	url = https://github.com/Hazardous2468/WITF.Assets.git
	branch = WITF_Assets
	path = assets

[submodule "art"]
	path = art
	url = https://github.com/Hazardous2468/WITF.Assets.git
	branch = WITF_Art
	shallow = true
